<div class="postCenter">
    <div class="post">
        <h2 class=" RobotoMono postTitle">{{post.title}}</h2>
        <h2 class="RobotoMono postUsername">{{post.date}}</h2>
        <h2 class="RobotoMono postUsername">{{post.user.username}}:</h2>
        <p class=" RobotoMono postBody">{{post.body}}</p>
        <div>
            {{#each comment}}
            <div class="RobotoMono postComment">
                <h2 class="RobotoMono commentData">{{comment.date}}</h2>
                <h2 class="RobotoMono commentUsername">{{comment.user}}</h2>
                <hr class="commentHr">
                <p>
                    {{comment.body}}
                </p>
            </div>
            <form>
            {{/each}}

                <textarea class="RobotoMono postComment commentInput"></textarea>
                <button class="RobotoMono commentBtn">Comment</button>
            </form>
        </div>
    </div>
</div>



